<%= form_for([@category, @item, @comments.build], html:{class:'form-horizontal'}, role:"form") do |f| %>


  <div class="form-group field">
    <%= f.label :score, class:"control-label" %> (0 - 10)
    <div class="row">
      <div class="col-md-3">
    <%= f.number_field :score, class:"form-control form_campo_color", placeholder:"0 - 10 only" %>    
      </div>
    </div>
  </div>
  <div class="form-group field">
    <%= f.label :body, class:"control-label" %>
    <%= f.text_area :body, class:"form-control form_campo_color new_comment_box", placeholder:"Comment here" %>
  </div>
  <div class="form-group actions">
    <%= f.submit %>
  </div>
<% end %>