<!-- Este é o form antigo, que funcionava. Alterei pra fazer funcionar o Edit Comment, mas deixei comentado para caso precise em reaplica-lo em outro lugar, como o Create, por exemplo. -->
<%= form_for([@item, @item.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :score %> (0 - 10)<br />
    <%= f.number_field :score %>    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>