<%= form_for([@category, @item, @item.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :score %> (0 - 10)<br />
    <%= f.number_field :score %>    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>