<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Score</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |c| %>
      <tr>
        <td><%= c.body %></td>
        <td><%= c.score %></td>
        <td><%= c.item.category %> | <%= c.item.institution %></td>
        <td><%= link_to 'Show', item_comment_path(@item.id, c.id) %></td>
        <td><%= link_to 'Edit', edit_item_comment_path(@item.id, c.id) %></td>
        <td><%= link_to 'Destroy', item_comment_path(@item.id, c.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_item_comment_path(@item.id) %>
