<%= form_for(@user, html: {class:'form-horizontal', id:'form_user'}, role:"form") do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :email, class:"control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" %>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
    <%= f.text_field :email, class:"form-control form_campo_color js-style-featured", id:"email", placeholder:"Enter email" %>
    </div>
  </div>
  <div class="form-group field">
    <%= f.label :password, class:"control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" %>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
    <%= f.password_field :password, type:"password", class:"form-control form_campo_color js-style-featured", id:"pwd", placeholder:"Enter password" %>
    </div>
  </div>
  <div class="form-group field">
    <%= f.label :confirmation, class:"control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" %>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
    <%= f.password_field :password_confirmation, type:"password", class:"form-control form_campo_color js-style-featured", id:"pwd_confirm", placeholder:"Confirm password" %>
    </div>
  </div>
  <div class="form-group actions">
    <div class="btn_size col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10">
     <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
