<% provide(:title, 'Listando Users') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<% if current_user == @user %>
	<%= link_to "Edit", edit_user_path(current_user) %> | 
	<%= link_to "Delete", @user, method: :delete%> | 
	<%= link_to 'Back', users_path %>
<%end%>
