<% provide(:title, 'Listando Itens') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @item.institution %>
</p>

<p>
  <!-- Criar if para "Se não tiver notas, aparece texto.. se tiver, fazer a média" -->
  <strong>Average:</strong>
  <%= @item.average %>
</p>


<h2>Comentários</h2>

<% @item.comments.each do |c| %>
	<p>
	  <strong>Body:</strong>
	  <%= c.body %>
	</p>

	<p>
	  <strong>Score:</strong>
	  <%= c.score %>
	</p>
<% end %>

<h2>Adicione um comentário</h2>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_item_path(@item) %> 
<%= link_to 'Back', items_path %>
