<% provide(:title, 'Listando Itens') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @item.institution %>
</p>

<p>
  <strong>Average:</strong>
  <%= @item.average %>
</p>

<h2>Comentários</h2>
<%= render 'comments/show' %>

<% if current_user != nil %>
  <h2>Adicione um comentário</h2>
	<%= render 'comments/form_new' %>
	<% else %>
		<br />
		<h3> Deixe seu comentário! <%= link_to "Faça Login", login_path %> </h3>
<% end %>

<% if current_user != nil && current_user.admin? %>
<%= link_to 'Edit', edit_item_path(@item) %> 
<% end %>
<%= link_to 'Back', items_path %>
