<% provide(:title, 'Listando Categorias') %>
<p id="notice"><%= notice %></p>

<% (current_user != nil && current_user.admin?) ? ($size = 'col-md-7' and $size1 = 'col-md-7') : ($size = 'col-md-5' and $size1 = '') %>

<ul class="list-group <%= $size %>">
  <li class="list-group-item list-group-item-heading text-center">
    <h4>CATEGORIES</h4> 
  </li>
  <% @categories.each do |category| %>
    <li class="list-group-item list-group-item-body list-group-item">
      <div class="row">
        <div class="<%= $size1 %>">
          <span class="badge first_col_no_admin">
            <%= category.items.count %>
          </span>
          <span class="first_col_no_admin">
            <%= link_to category.name, category %>
          </span>
        </div>
        <% if current_user != nil && current_user.admin? %>
          <div class="col-md-2">
            <button>
              <%= link_to 'Edit', edit_category_path(category) %>
            </button>               
          </div>
          <div class="col-md-2">
            <button>
              <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
            </button>              
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<% if current_user != nil && current_user.admin? %>
  <button type="button" class="links_bottom_page">
    <%= link_to 'New Category', new_category_path %>
  </button> 
<% end %>