<% provide(:title, 'Listando Itens') %>

<p id="notice"><%= notice %></p>

<h2><%= @category.name %> - Itens Cadastrados:</h2>
<p><%= render 'items/show' %></p>

<% if current_user != nil && current_user.admin? %>
	<h2>Adicionar Items: </h2>
	<%= render 'items/form_new' %>

	<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>

<%= link_to 'Back', categories_path %>